@keyframes rotateIcon {
    0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes displayMenu {
    0%{
        transform: translateY(40px) ;
    }
    100%{
        transform: translateY(0);
    }
}

