//Colors
$primary-purple:#9356DC;
$secondary-pink:#FF79DA;
$tertiary-green:#99E2D0;

$primary-purple-light:#b790e8;
$secondary-pink-light:#f2b5e0;
 
 
//mediaqueries
$tablet: 576px;
$desktop: 992px;
 
 
//Font-family
$title:'Shrikhand', 'sans-serif';
$p:'Roboto', 'sans-serif';

